#littleBlackHole {
  width: 200px;
  height: 200px;
  background-color: rgba(255, 255, 255, 0); 
  z-index: 3;
  position: absolute;
  top:30%;
  left:60%;
}

#alert1 {
  width: 100px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0); 
  z-index: 3;
  position: absolute;
  top:35%;
  left:37%;
}